/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2016, 2:40:12 PM
    Author     : derek.z
*/
.login-div-center {
    width: 280px;
    height: 270px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.left-menu-ul {
    margin-left: -35px;
    margin-right: 4px;
}
.left-menu-ul a {
    color: #555;
    height: 50px;
    line-height: 50px;
    display: block;
    background-color: #fff;
    border-bottom: solid;
    border-bottom-color: #D0D0D0;
    border-bottom-width: 2px;
    text-decoration: none;
    text-align: center;
}
a:hover {
    background-color: #D0D0D0;
    color: #ff0000;
}
.text-center {
    text-align: center;
}
table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
